force-app/main/default/flows/CE010_Low_Satisfaction_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Low_Satisfaction_Alert</name>
        <label>Send Low Satisfaction Alert</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Recovery_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varSalesManager.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>AlertEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AlertEmailBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Triggered when a Completed Event is updated with a Client Satisfaction Rating of 2 or below. Gets the Event Owner, then the Owner Manager (Sales Manager), sends an email alert, and creates a recovery Task assigned to the Sales Manager.</description>
    <formulas>
        <name>AlertEmailBody</name>
        <dataType>String</dataType>
        <expression>&quot;Event &quot; &amp; {!$Record.Name} &amp; &quot; received a Client Satisfaction Rating of &quot; &amp; TEXT({!$Record.Client_Satisfaction_Rating__c}) &amp; &quot;/5. Please review and initiate client relationship recovery.&quot;</expression>
    </formulas>
    <formulas>
        <name>AlertEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Low Satisfaction Alert — &quot; &amp; {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>RecoveryDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 3</expression>
    </formulas>
    <formulas>
        <name>RecoveryTaskDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Client satisfaction was rated &quot; &amp; TEXT({!$Record.Client_Satisfaction_Rating__c}) &amp; &quot;/5. Contact client to address concerns and document recovery actions taken.&quot;</expression>
    </formulas>
    <formulas>
        <name>RecoveryTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Client Recovery Follow-Up — &quot; &amp; {!$Record.Name}</expression>
    </formulas>
    <interviewLabel>CE-010 Low Satisfaction Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CE-010 Low Satisfaction Alert</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Recovery_Task</name>
        <label>Create Recovery Task</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>RecoveryDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>RecoveryTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varSalesManager.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>RecoveryTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Event_Owner</name>
        <label>Get Event Owner</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varEventOwner</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>ManagerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Manager</name>
        <label>Get Sales Manager</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Low_Satisfaction_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEventOwner.ManagerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varSalesManager</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Event_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Satisfaction_Rating__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Client_Satisfaction_Rating__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Event__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varEventOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varSalesManager</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
