force-app/main/default/flows/Proposal_Version_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Version_Number_Higher</name>
        <label>Set Version Number Higher</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Version_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VersionPlusOne</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProposalNameFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Version_Number_to_1</name>
        <label>Set Version Number to 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Version_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberOne</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Proposal_Exists</name>
        <label>Proposal Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Version_Number_to_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Proposals_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Proposals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Version_Number_Higher</targetReference>
            </connector>
            <label>Yes Proposals Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NumberOne</name>
        <dataType>Number</dataType>
        <expression>1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ProposalNameFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Proposal - &quot; &amp; {!Get_Parent_Event.Name} &amp; &quot; - V&quot; &amp; TEXT({!$Record.Version_Number__c})</expression>
    </formulas>
    <formulas>
        <name>VersionPlusOne</name>
        <dataType>Number</dataType>
        <expression>{!Get_Existing_Proposals.Version_Number__c} +1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Proposal Version Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proposal Version Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_Proposals</name>
        <label>Get Existing Proposals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Proposal_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Social_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Social_Event__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Proposal__c</object>
        <sortField>Version_Number__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Event</name>
        <label>Get Parent Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Proposals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Social_Event__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Event</targetReference>
        </connector>
        <object>Proposal__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
