force-app/main/default/flows/Require_Lead_Coordinator_for_In_Planning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Block_No_Lead_Coordinator</name>
        <label>Block — No Lead Coordinator</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>This Event cannot move to In Planning until a Lead Coordinator has been assigned. Please add a Staff Assignment with the Lead Coordinator role first.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Is_transition_to_In_Planning</name>
        <label>Is transition to In Planning</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not In Planning</defaultConnectorLabel>
        <rules>
            <name>Yes_In_Planning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Planning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Coordinator</targetReference>
            </connector>
            <label>Yes In Planning</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Coordinator_Found</name>
        <label>Lead Coordinator Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Lead_Coordinator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Coordinator</leftValueReference>
                <operator>IsNull</operator>
            </conditions>
            <connector>
                <targetReference>Block_No_Lead_Coordinator</targetReference>
            </connector>
            <label>No Lead Coordinator</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Require Lead Coordinator for In Planning {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Require Lead Coordinator for In Planning</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead_Coordinator</name>
        <label>Get Lead Coordinator</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Coordinator_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Lead Coordinator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Staff_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_transition_to_In_Planning</targetReference>
        </connector>
        <object>Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
