force-app/main/default/flows/theproposalflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>A_V</name>
        <choiceText>A/V</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A/V</stringValue>
        </value>
    </choices>
    <choices>
        <name>Anniversary</name>
        <choiceText>Anniversary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Anniversary</stringValue>
        </value>
    </choices>
    <choices>
        <name>Catering</name>
        <choiceText>Catering</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Catering</stringValue>
        </value>
    </choices>
    <choices>
        <name>D_cor</name>
        <choiceText>Décor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Décor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Engagement</name>
        <choiceText>Engagement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Engagement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Entertainment</name>
        <choiceText>Entertainment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Entertainment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Milestone_Birthday</name>
        <choiceText>Milestone Birthday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Milestone Birthday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Photography</name>
        <choiceText>Photography</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Photography</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private_Celebration</name>
        <choiceText>Private Celebration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private Celebration</stringValue>
        </value>
    </choices>
    <choices>
        <name>Security</name>
        <choiceText>Security</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Security</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transportation</name>
        <choiceText>Transportation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transportation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Under_100K</name>
        <choiceText>Under 100K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Under 100K</stringValue>
        </value>
    </choices>
    <choices>
        <name>wedding</name>
        <choiceText>wedding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>wedding</stringValue>
        </value>
    </choices>
    <choices>
        <name>X100K_250K</name>
        <choiceText>100K–250K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>100K–250K</stringValue>
        </value>
    </choices>
    <choices>
        <name>X250K</name>
        <choiceText>250K+</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>250K+</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Has_Completed_Consultation</name>
        <label>Has Completed Consultation?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Consultation_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>completedConsultation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Completed_Consultation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Type_Subtype</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>theproposalflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>theproposalflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Proposal_Record</name>
        <label>Create Proposal Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Client_Budget_Band__c</field>
            <value>
                <elementReference>Client_Budget_Band</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmed_Headcount__c</field>
            <value>
                <elementReference>Confirmed_Headcount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmed_Venue_Preference__c</field>
            <value>
                <elementReference>Confirmed_Venue_Preference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type_Confirmed__c</field>
            <value>
                <elementReference>Confirmed_Event_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Must_Avoid_Elements__c</field>
            <value>
                <elementReference>Must_Avoid_Elements</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Must_Have_Elements__c</field>
            <value>
                <elementReference>Must_Have_Elements</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Required_Vendor_Categories__c</field>
            <value>
                <elementReference>Required_Vendor_Categories</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Event__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Requests__c</field>
            <value>
                <elementReference>Special_Requests</elementReference>
            </value>
        </inputAssignments>
        <object>Proposal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Completed_Consultation</name>
        <label>Get Completed Consultation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Completed_Consultation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Social_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Consultation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consultation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Event_Type_Subtype</name>
        <label>Event Type &amp; Subtype</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Step_2_Date_and_Venue</targetReference>
        </connector>
        <fields>
            <name>Confirmed_Event_Type</name>
            <choiceReferences>wedding</choiceReferences>
            <choiceReferences>Engagement</choiceReferences>
            <choiceReferences>Anniversary</choiceReferences>
            <choiceReferences>Milestone_Birthday</choiceReferences>
            <choiceReferences>Private_Celebration</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirmed Event Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Consultation_Error</name>
        <label>No Consultation Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You cannot create a proposal until at least one Consultation is marked as Completed on this Event.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <styleSettings>
            <propertyName>--flowruntime-c-flow-background-color</propertyName>
            <propertyValue>
                <stringValue>#FFFFFF</stringValue>
            </propertyValue>
            <scope>Container</scope>
        </styleSettings>
    </screens>
    <screens>
        <name>Step_2_Date_and_Venue</name>
        <label>Step 2 - Date and Venue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Step_3_Headcount</targetReference>
        </connector>
        <fields>
            <name>Confirmed_Event_Date</name>
            <dataType>Date</dataType>
            <fieldText>Confirmed Event Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmed_Venue_Preference</name>
            <dataType>String</dataType>
            <fieldText>Confirmed Venue Preference</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter the preferred venue name or location&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_3_Headcount</name>
        <label>Step 3 - Headcount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Step_4_Vendor_Categories</targetReference>
        </connector>
        <fields>
            <name>Confirmed_Headcount</name>
            <dataType>Number</dataType>
            <fieldText>Confirmed Headcount</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Total number of expected guests&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_4_Vendor_Categories</name>
        <label>Step 4 - Vendor Categories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Step_5_Budget_Band</targetReference>
        </connector>
        <fields>
            <name>Required_Vendor_Categories</name>
            <choiceReferences>Catering</choiceReferences>
            <choiceReferences>A_V</choiceReferences>
            <choiceReferences>Photography</choiceReferences>
            <choiceReferences>D_cor</choiceReferences>
            <choiceReferences>Entertainment</choiceReferences>
            <choiceReferences>Transportation</choiceReferences>
            <choiceReferences>Security</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Required Vendor Categories</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_5_Budget_Band</name>
        <label>Step 5 - Budget Band</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Step_6_Requirements</targetReference>
        </connector>
        <fields>
            <name>Client_Budget_Band</name>
            <choiceReferences>Under_100K</choiceReferences>
            <choiceReferences>X100K_250K</choiceReferences>
            <choiceReferences>X250K</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Client Budget Band</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_6_Requirements</name>
        <label>Step 6 - Requirements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Step_7_Special_Requests</targetReference>
        </connector>
        <fields>
            <name>Must_Have_Elements</name>
            <fieldText>Must Have Elements</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Must_Avoid_Elements</name>
            <fieldText>Must Avoid Elements</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Include dietary, cultural, and personal constraints&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_7_Special_Requests</name>
        <label>Step 7 - Special Requests</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Step_8_Review_and_Confirm</targetReference>
        </connector>
        <fields>
            <name>Special_Requests</name>
            <fieldText>Special Requests</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Any additional requests from the client&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_8_Review_and_Confirm</name>
        <label>Step 8 - Review and Confirm</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Proposal_Record</targetReference>
        </connector>
        <fields>
            <name>Summary</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please review your proposal details before submitting:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Event Type: {!Confirmed_Event_Type}&lt;/p&gt;&lt;p&gt;Venue Preference: {!Confirmed_Venue_Preference}&lt;/p&gt;&lt;p&gt;Headcount : {!Confirmed_Headcount}&lt;/p&gt;&lt;p&gt;Budget Band: {!Client_Budget_Band}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit Proposal</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Completed_Consultation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
